$containerWidth: 940px;
$baseFontSize: 18px;

//z-index
$z-fixed-menu: 100;

@import 'media.scss';

@import 'normalize.css';

@import 'blocks/menu.scss';
@import 'blocks/advrtising.scss';

@import 'blocks/layout.scss';
@import 'blocks/headline.scss';
@import 'blocks/benefits.scss';
@import 'blocks/reviews.scss';
@import 'blocks/interactive-avatar.scss';
@import 'blocks/order-section.scss';
@import 'blocks/form.scss';
@import 'blocks/radio.scss';
@import 'blocks/fixed.scss';
@import 'blocks/heading.scss';
@import 'blocks/contacts.scss';
@import 'blocks/phone.number.scss';
@import 'blocks/header.scss';




.button {
    border-radius: rem(100px);
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(21px) rem(41px);
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    border: none;
    

    &--theme--yellow {
        background-color: #FEDB3F;
        color: #000;
        text-transform: uppercase;

        &:hover {
            background: #FFD517;
            color: #000;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
        padding: rem(21px) rem(14px);

        &:hover {
            color: #FFD517;
        }
    }
}

.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__title {
    color: #292929;
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.order--section-title {
    color: #fff;
    margin-bottom: rem(52px);
}
