header {
    color: $main-color;
 }
 .new {
    display: flex;
    transform: translate(-50%, -50);
    width: 100px;
    border-width: 1px;

    @media (max-width: 768px) {
       width: 70px;
    }
 }

 .class {
   @media (max-width: 768px) {
      display: block;
   }
 }