.advertising {
    display: flex;
    padding-bottom: rem(65px);
}

.advertising__list {
    display: flex;

    @include tablets {
        display: none;
    }
}
.advertising__item {
    display: flex;
    width: 27%;
    margin-right: rem(16px);

    &:last-child {
        margin-right: 0;
    }
}
        
.advertising__img {
    margin-right: rem(10px);
}
.advertising__item-text {
    font-size: rem(16px);
    font-weight: bold;
    line-height: 1.3; 
}