.advertising {
    display: flex;
    padding-bottom: 65px;
}

.advertising__list {
    display: flex;
}
.advertising__item {
    display: flex;
    width: 27%;
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}
        
.advertising__img {
    margin-right: 10px;
}
.advertising__item-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3; 
}