.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}
.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;
    margin-bottom: rem(10px);

    @include phones {
        display: flex;
        padding: 0;
    }

    &::before {
        content: url("../img/circle.svg");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}
.benefit {
    text-align: center;
}
.benefit__image-wrap {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background-color: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}
.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    @include phones {
        text-align: left;
    }
}
.benefit__title {
    color: #292929;
    font-weight: bold;
    font-size: rem(27px);
}
.benefit__desc {
    color: #666666;
    font-size: rem(18px);
    font-weight: 300;
    width: 103%;

    @include phones {
        width: 75%;
    }
}
.benefit__image {
    

    @include phones {
        margin-right: 10px;
    }
}