.container__footer {
    display: flex;
    background-color: white;
    height: rem(87px);
    min-height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
.footer {
    color: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    max-width: $containerWidth;
    
    @include phones {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.footer__phone-number__text {
    color: #292929;
    font-weight: 400;
}
.footer__address__text p {
    color: #292929;
}
.footer__phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer__contacts {
    display: flex;
    align-items: center;

    @include phones {
        justify-content: center;
    }
}
.footer__phone-number__text {
    font-style: normal;
    
}