.header {
    display: flex;
    justify-content: space-between;
    padding-top: rem(24px);
    align-items: flex-start;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}