
.headline__title {
    margin-bottom: 10px;
}
.headline__subtitle {
    color: #666666;
    font-size: 18px;
    padding: 0 27%;
    margin-bottom: 45px;
}
.headline_head {
    text-align: center;
}
