.hamburger {
    width: 26px;
    height: 23px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 5px;
    display: none;
    position: fixed;
    top: 3%;
    right: 3%;
    

    @include tablets {
        display: inline-flex;
    }
}
.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
}