.section-map {
    position: relative;
}
.map {
    height: 100%;
    width: 100%;
    
}
.map__img {
    width: 100%;
    height: 100%;
    padding-bottom: rem(93px);
    object-fit: cover;
}
