/*.menu {
      width: 72%;
}*/
.menu__list {
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.menu__item {
    font-size: 18px;
    font-weight: bold;
    margin-right: 23px;

    &:last-child {
        margin-right: 0;
    }
}