.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }


    &--checkbox {
        margin-bottom: rem(23px);

        .radio__visible {
            border-radius: rem(5px);

            &::before {
                background: url("../img/mark.svg") center center no-repeat;
            }
        }
    }
}
.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}
.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &::before {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: #FEDB3F;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}