.reviews {
    margin-top: 34px;
}
.reviews__display {
    background: #F8FAF9;
    padding: 39px 45px 34px;
    margin-bottom: 23px;
}
.reviews__display-inner {
    display: flex;
}
.reviews__avatar {
    width: 254px;
    height: 260px;
}
.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.reviews__author {
    color: #292929;
    font-weight: 500;
    font-size: 18px;
}
.reviews__content {
    flex: 1;
    margin-left: 33px;
    padding-top: 19px;
}
.reviews__title {
    font-size: 27px;
    font-weight: bold;
    color: #292929;
    margin-bottom: 7px;
    
}
.reviews__text {
    width: 81%;
    margin-bottom: 13px;
}
.reviews__switcher {
    display: flex;
    justify-content: center;
}