html {
    height: 100%;
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }
    @include phones {
        font-size: $baseFontSize - 2px;
    }
}

* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
.hero {
    background: url("img/bg_surf.png") no-repeat;
    background-size: cover;
    height: 100%;
    min-height: rem(650px);

    @include tablets {
        background: url("img/bg_surf.png") right no-repeat;
        background-size: cover;
       
        min-height: rem(650px);
      }
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    height: 100%;
    line-height: 1.42;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    position: relative; 
}
p {
    font-size: rem(18px);
    color: #666666;
    margin: 0;
}
ul {
    padding: 0;
    margin:0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    width: 95%;
    margin: 0 auto;
    max-width: $containerWidth;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-shop {
    max-width: 960px;
    
    @include tablets {
        max-width: 530px;
    }
}
.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.maincontent {
    height: 100%;
    transition: transform 1s;
    will-change: transform;
}

