.phone-number__icon-elem {
    height: rem(15px);
    width: rem(14px);
    margin-right: rem(6px);
    fill: white;
}
.phone-number__text {
    font-size: rem(22px);
    font-weight: bold;
}