
.player {
    width: rem(662px);
    height: rem(392px);
    position: relative;
   
    &.active .player__splash {
        display: none;
    }


    &.paused {
        .player__start {
            background: url("../img/pause2.png") no-repeat;
            display: block;
            width: rem(18px);
            height: rem(22px);
            border: none;
            background-size: cover;
            margin-left: rem(1px);
        }
        
    }
    
    @include tablets {
        width: rem(594px);
        height: rem(351px);
    }
    @include phones {
        width: rem(394px);
        height: rem(233px);
    }
}
.video-player {
    width:rem(662px);
    height:rem(357px);

    @include tablets {
        width: rem(594px);
        height: rem(351px);
    }
    @include phones {
        width: rem(394px);
        height: rem(233px);
    }
}
.player__start {
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    background: url("../img/play_start.svg") no-repeat;
    width: rem(15px);
    height: rem(19px);
    margin-left: rem(5px);
}

.player__wrapper {
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.player-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.player__splash {
    background: url("../img/player_back.png") no-repeat;
    width: rem(636px);
    height: rem(363px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.player-img {
    background: url("../img/play.svg");
    width: rem(75px);
    height: rem(109px);
}
.player__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.player__controls {
    background: #404040;
    width: rem(635px);
    height: rem(35px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 0 12px;

    @include tablets {
        width: rem(594px);
        
    }
    @include phones {
        width: rem(394px);
        
    }
    
}

.player-play {
    width: rem(13px);
    height: rem(17px);
}
/*.player__playback {
    position: relative;
    height: 3px;
    width: 500px;
    background: #626262;
}*/
.player__playback {
    height: rem(16px);
    width: rem(446px);
    position: relative;

    @include phones {
        width: rem(248px);
        
    }
}
.player__playback::before {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #626262;
    display: block;
    transform: translateY(-50%);
}
.player__playback-button {
    background: #626262;
    border-radius: 12px;
    border: none;
    width: rem(12px);
    height: rem(12px);
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;

}
.player__start-button {
    width: rem(11px);
    height: rem(11px);
    color: #626262;
}
.player__duration {
    display: flex;
    width: 12%
}
.saund-range {
    
    width: rem(10px);
    position: relative;
}
.saund-range::before {
    content: "";
    height: 4px;
    width: 57px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #ced121;
    display: block;
    transform: translateY(-50%);
}
.saund__button {
    background: #626262;
    border-radius: 12px;
    border: none;
    width: rem(12px);
    height: rem(12px);
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
}
.player__duration-saund {
    margin-right: 12px;
}
.input-range {
    width: 40px;

    
}
input[type='range']{
-webkit-appearance: none;
 -moz-appearance: none;
 width: 30px;
 height: 4px;
 border-radius: 12px;
 background: #626262;
 outline: none;
 appearance: none;
    
 @include phones {
    width: rem(20px);
    
    }
}

input[type='range']  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
   /* width: 30px;
    height: 4px;*/
  }

  input[type=range]::-webkit-slider-runnable-track {
    background-color: #626262;
    height: 4px;
  }

  input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
    background-color: #FEDB3F;
    border-radius: 12px;
    width: rem(12px);
    height: rem(12px);
    cursor: pointer;
    margin-top: -4px;
  }

  