.social {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social__icon {
    width: rem(22px);
    height: rem(22px);
    fill: #B3B3B3;
}
.social__item {
    margin-right: rem(10px);
    align-items: center;
    display: flex;

    &:last-child {
        margin-right: 0;
    }
}